<article>
  <h1>Counter</h1>
  <counter-component></counter-component>
</article>
<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
  const { html, ReactiveElement } = cami;
  class CounterElement extends ReactiveElement {
    constructor() {
      super();
      this.count = this.observable(0);
    }

    increment() {
      this.count.update(value => value + 1);
    }

    decrement() {
      this.count.update(value => value - 1);
    }

    template() {
      return html`
        <button @click=${() => this.decrement()}>-</button>
        <button @click=${() => this.increment()}>+</button>
      `;
    }
  }

  customElements.define('counter-component', CounterElement);
</script>

