<article>
  <h1>Counter (Store Version)</h1>
  <counter-component></counter-component>
</article>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
/>
<script src="./build/cami.cdn.js"></script>
<script type="module">
  const { html, defineReactiveElement, store } = cami;
  cami.debug.enable();

  const counterStore = store({
    state: {
      count: 0,
    },
    name: "counter-store",
  });

  counterStore.defineAction("increment", ({ state }) => (state.count += 1));
  counterStore.defineAction("decrement", ({ state }) => (state.count -= 1));
  counterStore.defineMemo("isEven", ({ state }) => state.count % 2 === 0);

  const uuid = crypto.randomUUID();
  const incrementId = `${uuid}-increment`
  const decrementId = `${uuid}-decrement`

  defineReactiveElement("counter-component", counterStore, ({ store, ctx}) => {
    const { count } = store.getState();
    const isEven = store.memo("isEven");

    if (ctx.clicked.owner === incrementId) {
      store.dispatch("increment");
    }

    if (ctx.clicked.owner === decrementId) {
      store.dispatch("decrement");
    }

    return html`
      <button node-id=${decrementId}>-</button>
      <button node-id=${incrementId}>+</button>
      <div>Count: ${count}</div>
      <div>Is even: ${isEven}</div>
    `;
  });
</script>
