<article>
  <h1>Registration Form</h1>
  <form-component></form-component>
</article>
<small>
<p>Try entering an email that is already taken, such as geovanniheaney@block.info (mock email)</p>
</small>
<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
  const { html, ReactiveElement } = cami;

  class FormElement extends ReactiveElement {
    emailError = '';
    passwordError = '';

    inputStream = null;

    email = '';
    password = '';
    emailIsValid = null;
    isEmailAvailable = null;

    constructor() {
      super();
      this.setup({
        observables: ['emailError', 'passwordError']
      })
    }

    validateEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      let emailError = '';
      let isEmailValid = null;
      if (email === '') {
        emailError = '';
        isEmailValid = null;
      } else if (!emailRegex.test(email)) {
        emailError = 'Please enter a valid email address.';
        isEmailValid = false;
      } else {
        emailError = '';
        isEmailValid = true;
      }
      return { isEmailValid, emailError };
    }

    validatePassword(password) {
      return password !== '' && password?.length >= 8;
    }

    queryEmail(email) {
      return this.query({
        queryKey: ['Email', email],
        queryFn: () => {
          return fetch(`https://mockend.com/api/kennyfrc/cami-mock-api/users?email_eq=${email}`).then(res => res.json())
        },
        staleTime: 1000 * 60 * 5
      })
    }

    getEmailInputState() {
      if (this.email === '') {
        return '';
      } else if (this.isEmailValid && this.isEmailAvailable?.status === 'success' && this.isEmailAvailable?.data?.length === 0) {
        return false;
      } else {
        return true;
      }
    }

    getPasswordInputState() {
      if (this.password === '') {
        return '';
      } else if (this.passwordError === '') {
        return false;
      } else {
        return true;
      }
    }

    template() {
      return html`
        <form action="/submit" method="POST">
          <label>
            Email:
            <input type="email"
              aria-invalid=${this.getEmailInputState()}
              @input=${(e) => {
                if (!this.inputStream) {
                  this.inputStream = this.eventStream(e)
                  this.inputStream
                    .map(e => this.validateEmail(e.target.value))
                    .debounce(1000)
                    .subscribe(({ isEmailValid, emailError }) => {
                      this.emailError = emailError;
                      this.isEmailValid = isEmailValid;
                      this.email = e.target.value;
                      this.isEmailAvailable = this.queryEmail(this.email)
                    });
                } else {
                  this.inputStream.next(e);
                }
              }} value=${this.email}>
            <span>${this.isEmailAvailable?.status === 'success' && this.isEmailAvailable?.data?.length > 0 && this.emailError === '' ? 'Email is already taken.' : ''}</span>
            <span>${this.emailError}</span>
          </label>
          <label>
            Password:
            <input type="password" @input=${(e) => {
              this.eventStream(e)
                .map(e => this.validatePassword(e.target.value))
                .debounce(300)
                .subscribe((isValid) => {
                  this.passwordError = isValid ? '' : 'Password must be at least 8 characters long.';
                  this.password = e.target.value;
                });
              }}
              value=${this.password}
              aria-invalid=${this.getPasswordInputState()}>
            <span>${this.passwordError}</span>
          </label>
          <input type="submit" value="Submit" ?disabled=${this.emailError !== '' || this.passwordError !== '' || this.email === '' || this.password === ''}>
        </form>
      `;
    }
  }

  customElements.define('form-component', FormElement);
</script>
