<article>
  <h1>Registration Form</h1>
  <form-component></form-component>
</article>
<small>
<p>Try entering an email that is already taken, such as trevinowanda@example.net (mock email)</p>
</small>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
  const { html, ReactiveElement, model } = cami;

  const SigninModel = model("SigninModel", {
    store: "form-store",
    state: {
      email: '',
      password: '',
      emailError: '',
      passwordError: '',
      emailIsValid: null,
      isEmailAvailable: null
    }
  });

  SigninModel.register({
    actions: {
      setEmail: ({ state, payload }) => {
        state.email = payload;
      },
      setPassword: ({ state, payload }) => {
        state.password = payload;
      },
      setEmailError: ({ state, payload }) => {
        state.emailError = payload;
      },
      setPasswordError: ({ state, payload }) => {
        state.passwordError = payload;
      },
      setEmailIsValid: ({ state, payload }) => {
        state.emailIsValid = payload;
      },
      setIsEmailAvailable: ({ state, payload }) => {
        state.isEmailAvailable = payload;
      }
    },
    queries: {
      queryEmail: {
        queryKey: (email) => ['Email', email],
        queryFn: (email) => {
          return fetch(`https://api.camijs.com/users?email=${email}`).then(res => res.json());
        },
        onSuccess: ({ state, payload, actions, response }) => {
          if (response.length > 0) {
            actions.setIsEmailAvailable(false);
          } else {
            actions.setIsEmailAvailable(true);
          }
        },
        staleTime: 1000 * 60 * 5
      }
    }
  });

  class FormElement extends ReactiveElement {
    onCreate() {
      this.model = SigninModel;
    }

    processEmailInput(e) {
      const { isEmailValid, emailError, email } = this.validateEmail(e.target.value);
      this.model.setEmailError(emailError);
      this.model.setEmailIsValid(isEmailValid);
      this.model.setEmail(email);
      this.model.queryEmail(email);
    }

    processPasswordInput(e) {
      const { isValid, password } = this.validatePassword(e.target.value);
      this.model.setPasswordError(isValid ? '' : 'Password must be at least 8 characters long.');
      this.model.setPassword(password);
    }

    validateEmail(email) {
      const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      let emailError = '';
      let isEmailValid = null;
      if (email === '') {
        emailError = '';
        isEmailValid = null;
      } else if (!emailRegex.test(email)) {
        emailError = 'Please enter a valid email address.';
        isEmailValid = false;
      } else {
        emailError = '';
        isEmailValid = true;
      }
      return { isEmailValid, emailError, email };
    }

    validatePassword(password) {
      let isValid = false;
      if (password === '') {
        isValid = null;
      } else if (password?.length >= 8) {
        isValid = true;
      }
      return { isValid, password };
    }

    getEmailInputState() {
      if (this.model.email === '') {
        return '';
      } else if (this.model.emailIsValid && this.model.isEmailAvailable === true) {
        return false;
      } else {
        return true;
      }
    }

    getPasswordInputState() {
      if (this.model.password === '') {
        return '';
      } else if (this.model.passwordError === '') {
        return false;
      } else {
        return true;
      }
    }

    template() {
      return html`
        <form action="/submit" method="POST">
          <label>
            Email:
            <input type="email"
              aria-invalid=${this.getEmailInputState()}
              @input=${(e) => this.processEmailInput(e)}
              value=${this.model.email}>
            <span>${this.model.isEmailAvailable === false && this.model.emailError === '' ? 'Email is already taken.' : ''}</span>
            <span>${this.model.emailError}</span>
          </label>
          <label>
            Password:
            <input type="password"
              @input=${(e) => this.processPasswordInput(e)}
              value=${this.model.password}
              aria-invalid=${this.getPasswordInputState()}>
            <span>${this.model.passwordError}</span>
          </label>
          <input type="submit" value="Submit" style="opacity: ${this.model.emailError !== '' || this.model.passwordError !== '' || this.model.email === '' || this.model.password === '' ? '0.5' : '1'}">
        </form>
      `;
    }
  }

  customElements.define('form-component', FormElement);
</script>
