<article>
  <h1>Todo List</h1>
  <todo-list-component></todo-list-component>
</article>
<script type="module">
  import { createStore, html, ReactiveElement } from 'https://unpkg.com/cami@0.0.10/build/cami.module.js';
  // Step 1: Define the initial state of our store
  const todoStore = createStore({
    todos: [],
  });

  // Step 2: Register reducers for adding and removing todo items
  todoStore.register('add', (store, payload) => {
    store.todos.push(payload);
  });

  todoStore.register('delete', (store, payload) => {
    store.todos = store.todos.filter(todo => todo !== payload);
  });

  const loggingMiddleware = ({ getState, dispatch }) => next => (action, payload) => {
    console.log('Before dispatching:', getState());
    const result = next(action, payload);
    console.log('After dispatching:', getState());
    return result;
  };

  todoStore.use(loggingMiddleware);

  class TodoListElement extends ReactiveElement {
    constructor() {
      super();
      this.todos = this.subscribe(todoStore, 'todos');
    }

    template() {
      return html`
        <input id="newTodo" type="text" />
        <button @click=${() => {
          const newTodo = document.getElementById('newTodo').value;
          this.dispatch("add", newTodo);
          document.getElementById('newTodo').value = '';
        }}>Add</button>
        <ul>
          ${this.todos.value.map(todo => html`
            <li>
              ${todo}
              <button @click=${() => this.dispatch("delete", todo)}>Delete</button>
            </li>
          `)}
        </ul>
      `;
    }
  }

  customElements.define('todo-list-component', TodoListElement);
</script>
