  <article>
  <h2>Products</h2>
  <product-list-component></product-list-component>
</article>
<article>
  <h2>Cart</h2>
  <cart-component></cart-component>
</article>

<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
 const { html, ReactiveElement } = cami;

  const cartStore = cami.store({
    cartItems: [],
    products: [
      { id: 1, name: 'Product 1', price: 100, disabled: false, stock: 10 },
      { id: 2, name: 'Product 2', price: 200, disabled: false, stock: 5 },
      { id: 3, name: 'Product 3', price: 300, disabled: false, stock: 2 },
    ]
  });

  cartStore.register('add', (store, product) => {
    const cartItem = { ...product, cartItemId: Date.now() };
    store.cartItems.push(cartItem);
    store.products = store.products.map(p => {
      if (p.id === product.id) {
        p.stock--;
      }
      return p;
    });
  });
  cartStore.register('remove', (store, product) => {
    store.cartItems = store.cartItems.filter(item => item.cartItemId !== product.cartItemId);
    store.products = store.products.map(p => {
      if (p.id === product.id) {
        p.stock++;
      }
      return p;
    });
  });

  class ProductListElement extends ReactiveElement {
    store = cartStore;
    cartItems = this.subscribe(this.store, 'cartItems');
    products = this.subscribe(this.store, 'products');

    constructor() {
      super();
    }

    addToCart(product) {
      this.store.dispatch('add', product);
    }

    isProductInCart(product) {
      return this.cartItems ? this.cartItems.some(item => item.id === product.id) : false;
    }

    isOutOfStock(product) {
      return product.stock === 0;
    }

    template() {
      return html`
        <ul>
          ${this.products.map(product => html`
            <li>
              ${product.name} - ${product.price} | Stock: ${product.stock}
              <button @click=${() => this.addToCart(product)} ?disabled=${this.isOutOfStock(product)}>
                Add to cart
              </button>
            </li>
          `)}
        </ul>
      `;
    }
  }

  customElements.define('product-list-component', ProductListElement);

  class CartElement extends ReactiveElement {
    store = cartStore;
    cartItems = this.subscribe(this.store, 'cartItems');

    constructor() {
      super();
      this.define({
        computed: ['cartValue']
      });
    }

    get cartValue() {
      return this.cartItems.reduce((acc, item) => acc + item.price, 0);
    }

    removeFromCart(product) {
      this.store.dispatch('remove', product);
    }

    template() {
      return html`
        <p>Cart value: ${this.cartValue}</p>
        <ul>
          ${this.cartItems.map(item => html`
            <li>${item.name} - ${item.price}</li><button @click=${() => this.removeFromCart(item)}>Remove</button>
          `)}
        </ul>
      `;
    }
  }

  customElements.define('cart-component', CartElement);
</script>
