<article>
  <h1>Label Updates from Input Forms (Nested Observable)</h1>
  <simple-input-component></simple-input-component>
</article>
<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
 const { html, ReactiveElement } = cami;

  class UserFormElement extends ReactiveElement {
    constructor() {
      super();
      this.initialUser = { name: 'Kenn', age: 34, email: 'kenn@example.com' };
      this.user = this.observable(this.initialUser);
    }

    handleInput(event, key) {
      this.user.update(value => {
        value[key] = event.target.value;
      });
    }

    resetForm() {
      this.user.assign(this.initialUser);
    }

    template() {
      return html`
        <form>
          <label>
            Name: ${this.user.value.name}
            <input type="text" .value=${this.user.value.name} @input=${(e) => this.handleInput(e, 'name')} />
          </label>
          <label>
            Age: ${this.user.value.age}
            <input type="number" .value=${this.user.value.age} @input=${(e) => this.handleInput(e, 'age')} />
          </label>
          <label>
            Email: ${this.user.value.email}
            <input type="email" .value=${this.user.value.email} @input=${(e) => this.handleInput(e, 'email')} />
          </label>
          <button type="button" @click=${this.resetForm.bind(this)}>Reset</button>
        </form>
      `;
    }
  }

  customElements.define('simple-input-component', UserFormElement);
</script>
