<article>
  <h1>Label Updates from Input Forms (Nested Observable)</h1>
  <simple-input-component></simple-input-component>
</article>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
  const { html, ReactiveElement, model } = cami;

  const UserFormModel = model("UserFormModel", {
    store: "user-form-store",
    state: {
      user: { name: 'Kenn', age: 34, email: 'kenn@example.com' }
    },
    actions: {
      updateUser: ({ state, payload }) => {
        // transforms data model
        const transforms = {
          name: (value) => value.trim(),
          age: (value) => parseInt(value),
          email: (value) => value.trim().toLowerCase()
        };

        // apply transforms to payload and update state
        Object.keys(payload).forEach(key => {
          const transform = transforms[key];
          if (transform) {
            state.user[key] = transform(payload[key]);
          } else {
            state.user[key] = payload[key];
          }
        });
      },
      resetUser: ({ state }) => {
        state.user.name = 'Kenn';
        state.user.age = 34;
        state.user.email = 'kenn@example.com';
      }
    }
  });

  class UserFormElement extends ReactiveElement {
    template() {
      const { user, dispatch } = UserFormModel;

      const handleInput = (event, key) => {
        dispatch('updateUser', { [key]: event.target.value });
      };

      const resetForm = () => {
        dispatch('resetUser');
      };

      return html`
        <form>
          <label>
            Name: ${user.name}
            <input type="text" .value=${user.name} @input=${(e) => handleInput(e, 'name')} />
          </label>
          <label>
            Age: ${user.age}
            <input type="number" .value=${user.age} @input=${(e) => handleInput(e, 'age')} />
          </label>
          <label>
            Email: ${user.email}
            <input type="email" .value=${user.email} @input=${(e) => handleInput(e, 'email')} />
          </label>
          <button type="button" @click=${resetForm}>Reset</button>
        </form>
      `;
    }
  }

  customElements.define('simple-input-component', UserFormElement);
</script>
