<article>
  <h1>Label Updates from Input Forms (Nested Observable)</h1>
  <simple-input-component></simple-input-component>
</article>
<script src="./build/cami.cdn.js"></script>
<script type="module">
 const { html, ReactiveElement } = cami;

  class UserFormElement extends ReactiveElement {
    constructor() {
      super();
      this.user = this.observable({ name: 'Kenn', age: 34 });
    }

    handleInput(event, key) {
      this.user.update(value => {
        value[key] = event.target.value;
      });
    }

    template() {
      return html`
        <form>
          <label>
            Name: ${this.user.value.name}
            <input type="text" .value=${this.user.value.name} @input=${(e) => this.handleInput(e, 'name')} />
          </label>
          <label>
            Age: ${this.user.value.age}
            <input type="number" .value=${this.user.value.age} @input=${(e) => this.handleInput(e, 'age')} />
          </label>
        </form>
      `;
    }
  }

  customElements.define('simple-input-component', UserFormElement);
</script>
