<article>
  <h1>Task Management</h1>
  <task-management-component></task-management-component>
</article>
<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
 const { html, ReactiveElement } = cami;

  class TaskManagementElement extends ReactiveElement {
    constructor() {
      super();
      this.tasks = this.observable([]);
    }

    addTask(task) {
      this.tasks.push(task);
    }

    removeLastTask() {
      this.tasks.pop();
    }

    removeTask(index) {
      this.tasks.splice(index, 1);
    }

    template() {
      return html`
        <input id="newTask" type="text" placeholder="New task">
        <button @click=${() => {
          const newTaskInput = document.getElementById('newTask');
          this.addTask(newTaskInput.value);
          newTaskInput.value = '';
        }}>Add Task</button>
        <button @click=${() => this.removeLastTask()}>Remove Last Task</button>
        <ul>
          ${this.tasks.value.map((task, index) => html`
            <li>
              ${task}
              <button @click=${() => this.removeTask(index)}>Remove</button>
            </li>
          `)}
        </ul>
      `;
    }
  }

  customElements.define('task-management-component', TaskManagementElement);
</script>
