<article>
  <h1>Counter</h1>
  <p>This will dispose if the count goes above 20 (see logs)</p>
  <counter-component></counter-component>
</article>
<script src="./build/cami.cdn.js"></script>
<!-- CDN version below -->
<!-- <script src="https://unpkg.com/cami@latest/build/cami.cdn.js"></script> -->
<script type="module">
  const { html, ReactiveElement } = cami;
class CounterElement extends ReactiveElement {
  count = 0;
  countSquared = () => this.count.value * this.count.value;
  countCubed = () => this.countSquared.value * this.count.value;
  countQuadrupled = () => this.countSquared.value * this.countSquared.value;
  countPlusRandom = () => this.count.value + Math.random();
  countSqrt = () => Math.sqrt(this.count.value);
  logCount = () => console.log('count', this.count.value);
  logCountSquared = () => console.log('countSquared', this.countSquared.value);
  logCountCubed = () => console.log('countCubed', this.countCubed.value);
  logCountQuadrupled = () => console.log('countQuadrupled', this.countQuadrupled.value);
  logCountPlusRandom = () => console.log('countPlusRandom', this.countPlusRandom.value);
  logCountSqrt = () => console.log('countSqrt', this.countSqrt.value ? this.countSqrt.value : 'NaN');
  logDisposal = () => {
    if (this.count.value > 20) {
      if (this.count) {
        console.log('disposing count');
        this.isDisposed.value = true;
        this.count.dispose();
      } else {
        console.log('count already disposed');
      }
    }
  }
  isDisposed = false;

  constructor() {
    super();
    this.define({
      count: 'observable',
      countSquared: 'computed',
      countCubed: 'computed',
      countQuadrupled: 'computed',
      countPlusRandom: 'computed',
      countSqrt: 'computed',
      logCount: 'effect',
      logCountSquared: 'effect',
      logCountCubed: 'effect',
      logCountQuadrupled: 'effect',
      logCountPlusRandom: 'effect',
      logCountSqrt: 'effect',
      logDisposal: 'effect',
      isDisposed: 'observable'
    });

    this.count.onValue(value => {
      console.log('count from onValue', value);
    });
  }

  increment() {
    this.count.value++;
  }

  decrement() {
    this.count.value--;
  }

  multiplyByTwo() {
    this.count.value *= 2;
  }

  divideByTwo() {
    this.count.value /= 2;
  }

  template() {
    return html`
      <button @click=${() => this.decrement()}>-</button>
      <button @click=${() => this.increment()}>+</button>
      <button @click=${() => this.multiplyByTwo()}>*2</button>
      <button @click=${() => this.divideByTwo()}>/2</button>
      <button @click=${() => this.count.value = 0}>reset</button>
      <div>Count: ${this.count.value}</div>
      <div>Squared: ${this.countSquared.value}</div>
      <div>Cubed: ${this.countCubed.value}</div>
      <div>Quadrupled: ${this.countQuadrupled.value}</div>
      <div>Plus Random: ${this.countPlusRandom.value}</div>
      <div>Sqrt: ${this.countSqrt.value}</div>
      <div>Counter is ${this.isDisposed.value ? 'disposed. refresh to reset' : 'not disposed'}</div>
    `;
  }
}

customElements.define('counter-component', CounterElement);
</script>

